body {
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #333333;
    color: #eee;
    text-align: center;
    height: 80px;
    font-size: 28px;
    padding: 10px;
    margin-top: 0px;
}
h2 {
    font-size: 24px;
}
.container {
    margin: 0 auto;
}
.picture {
    float: left;
    margin: 10px;
}
.bio {
    float: left;
    width: 60%;
    line-height: 1.5;
    
}
.contact {
    float: left;
    width: 30%;
}
a {
    color: #d21034
}